<footer>
  <div class="impressum">
    <p><strong>MTÜ Bay Area Tech Club</strong><br>
      Narva mnt 5., Tallinn 10117, Estonia<br>
      Reg: 80575329, VAT: EE102224535
    </p>
  </div>
  <div class="license">
    <p xmlns:dct="http://purl.org/dc/terms/" xmlns:cc="http://creativecommons.org/ns#" class="license-text">
      This website and its content is licensed under
        <a href="https://creativecommons.org/licenses/by-nc/4.0/" target="_blank" rel="license noopener noreferrer">
          CC BY-NC 4.0
        </a>
      <br>
      <img alt="CC" src="https://search.creativecommons.org/static/img/cc_icon.svg"
      /><img alt="BY" src="https://search.creativecommons.org/static/img/cc-by_icon.svg"
      /><img alt="NC" src="https://search.creativecommons.org/static/img/cc-nc_icon.svg" />
    </p>
  </div>
  <div class="photo-credit">Photo by <a href="https://unsplash.com/@tomminseteli">Tommi Selander</a> on Unsplash</div>
</footer>
