<header>
  <img class="logo" alt="Bay Area Tech Club logo" src="/img/baytech-logo.png" />
  <nav>
    <a href="/{{ lang }}/">{{ l10n.header.about or 'About' }}</a>
    <a {% if paths[lang].projects %}href="/{{ lang }}/{{ paths[lang].projects }}"{% endif %}>{{ l10n.header.projects or 'Projects' }}</a>
    <a {% if paths[lang].contact  %}href="/{{ lang }}/{{ paths[lang].contact  }}"{% endif %}>{{ l10n.header.contact or 'Contact' }}</a>
  </nav>
  <span class="langswitcher">
    <a class="en"
      href="/eng/" title="Switch to English">ENG</a
    ><a class="et"
      href="/est/" title="Väljapanek eesti keeles">EST</a
    ><a class="ru"
      href="/rus/" title="Читайте на русском">RUS</a
    >
  </span>
</header>
