<header>
  <img class="logo" alt="Bay Area Tech Club logo" src="/img/baytech-logo.png" />
  <nav>
    <a href="/eng/">About</a>
    <a href="/eng/projects">Projects</a>
    <a href="/eng/contact">Contact</a>
  </nav>
  <span class="langswitcher">
    <a class="en"
      href="/eng/" title="Switch to English">ENG</a
    ><a class="et"
      href="/est/" title="Väljapanek eesti keeles">EST</a
    ><a class="ru"
      href="/rus/" title="Читайте на русском">RUS</a
    >
  </span>
</header>
